/* Reset */
* {
    margin: 0;
    padding: 0;
}
/* Variables */
$firstcolor : lightgray;
$secondcolor: black;
$background: rgb(255, 255, 255);
$height: 49vh;
$font-title1: calc(0.65rem + 0.4vw);
$font-text:calc(0.5rem + 0.4vw);

/*********************************/
body {
    font-family: 'Comfortaa','arial' ;
}
/*preload renders*/
body:after{
    display:none;
    content: url(../img/home/402render.jpg) url(../img/home/401render.jpg)
    url(../img/home/302render.jpg)url(../img/home/301render.jpg);
}

/* NAVBAR */
.header-wrap {
    box-sizing: border-box;;
    width: 80%;
    margin:auto;
    min-height: 10vh;
    height: auto;
    .header-items { 
        display: flex;
        align-items: center;
        margin-top: 5vh;
        min-height: 36px; 
        .logo-wrap{
            display: flex;
            flex: 1;
            justify-content: left;
            .logo {
                display: flex;
                align-items: center;
                #gulsen {
                    text-decoration: none;
                    color: $firstcolor;
                    font-size: 1.5rem;
                    transition: color 1s;
                }
                #aktas {
                    text-decoration: none;
                    color: $secondcolor;
                    font-size: 1.5rem;
                    transition: color 1s;
                    border-right: 1px solid black;
                    padding: 0 0.6rem;
                    margin-right: 0.6rem;

                }
            
                &:hover {
                    #gulsen {
                        color: $secondcolor;
                    }
                    #aktas {
                        color: $firstcolor;
                    }
                }
            }
            .nav-portfolio{
                font-size: 0.9rem;
                align-self: center ;
            }
        }

        .nav-wrap{
            display: flex;
            flex: 2;
            margin-left: 20vw;
            justify-content: space-between;
            .nav-item {
                font-size: 0.8rem;
                text-align: center;
                width: auto;
                transition: border-bottom 1s;
                &:hover {
                    border-bottom: 1px solid black;
                }
        
                a {
                    color:$firstcolor;
                    text-decoration: none;
                    transition: color 1s;
                    &:hover {
                        color: $secondcolor;
                    }
                }
            }
        }
        
    }
    .nav-item-acvite {
        a {
            color: $secondcolor!important;
        }
        
        border-bottom: 1px solid black!important
    }
}
@media screen and (max-width:768px) {
    .header-items{
        display: block!important;
        .logo-wrap{
            justify-content: center!important;
            #gulsen,#aktas{
                font-size: 1.2rem!important;
            }
        }
        .nav-wrap{
            margin: 3vh 0 2vh 0!important;
            justify-content: space-between!important;
            .nav-item{
                font-size:0.7rem!important;
            }
        }
    }
}

/* HOME */
@mixin wrapdefault () {
    margin: 16vh auto;
    width: 35vw;
    min-width: 300px;
    height: $height;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    a{
        text-align: center;
        font-size: 1.5rem;;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block;
        color: transparent;
        transition: color 1s;
        .project-img{
            background:white;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            transition: background 1s ease-in-out;
            &:hover{
                background: none;
            }
        }
        &:hover{
            color: $firstcolor;
        }
    }
    
}
.projects-wrap-background {
    background: $background;
    .projects-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: 90%;

        .arrow{
            width: 50%;
        }
        .carousel-control-next,.carousel-control-prev{
            opacity: 0.1;
            &:hover{
                opacity: 0.4;
            }
        }

        .project-wrap-1 {
            @include wrapdefault();
            background-image:url(../img/home/402render.jpg);
        }
        .project-wrap-2 {
            @include wrapdefault();
            background-image:url(../img/home/401render.jpg);
        }
        .project-wrap-3 {
            @include wrapdefault();
            background-image:url(../img/home/302render.jpg);
        }
        .project-wrap-4 {
            @include wrapdefault();
            background-image:url(../img/home/301render.jpg);
        }

    }
}
@media screen and (max-width:768px) {
    .projects-wrap {
        justify-content: center!important;
        .project-wrap-1,.project-wrap-2,.project-wrap-3,.project-wrap-4{
            background-size: contain!important;
            width: 100%!important;
            margin: 17vh 0!important;
            height: 40vh!important;
            .project-text {
                position: relative!important;
                top: 36vh!important;
            }
            .project-link {
                height: 40vh!important;
            }
        }
    }
}






/*PROJECTS*/
.m402-wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    .m402-slider{
        margin:6vh 0;
        flex: 4;
        .m402-item{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .m402-content{
        flex: 3;
        .m402-title{
            padding: 20vh 13vh 10vh;
            font-size: $font-title1;
            text-align: left;
        }
        .m402-text{
            padding: 0 8vh 0 13vh;
            font-size: $font-text;
            text-align: right;
        }
    }
    .carousel-indicators li{
        background-color: rgb(255, 255, 255);
        border: 1px solid darkgray;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        &.active{
            background: darkgray;
        }
    }
    .project-arrow{
        width: 50%;
    }
    .carousel-control-next,.carousel-control-prev{
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
        }
    }
}
@media screen and (max-width:1038px) {
    .m402-wrapper{
        flex-direction: column;
        width: 100%;
        .m402-title{
            padding: 0!important;
            text-align: center!important;
        }
        .m402-content{
            min-height: 26vh!important;
        }
        .m402-text{
            padding: 5vh 5vh!important;
            text-align: center!important;
            .m402-text-relative-inside{
                text-align: center!important;
            }
        }
    }
}


/* WORKSHOP */
.workshop-wrap-background{
    .workshop-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
        .workshop-wrap-1 {
            @include wrapdefault();
            margin-left:0.5rem; 
            margin-right:0.5rem;
            flex: 1;
            background-image:url(../img/workshop/flaneur.jpg);
            background-size: cover;
            filter: grayscale(100%);
            transition: filter 1s ease-in-out;
            a{
                position: relative;
                .workshop-title{
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    text-align: center;
                    top:100%;
                }
            }
            &:hover {
                filter: none;
            }
        }
        .workshop-wrap-2 {
            @include wrapdefault();
            margin-right:0.5rem;
            flex: 1;
            background-image:url(../img/workshop/goz.jpg);
            background-size: cover;
            filter: grayscale(100%);
            transition: filter 1s ease-in-out;
            a{
                position: relative;
                .workshop-title{
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    text-align: center;
                    top:100%;
                }
            }
            &:hover {
                filter: none;
            }
        }
        .workshop-wrap-3 {
            @include wrapdefault();
            margin-right:0.5rem;
            flex: 1;
            background-size: cover;
            background-image:url(../img/workshop/meydan.jpg);
            a{
                position: relative;
                .workshop-title{
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    text-align: center;
                    top:100%;
                }
            }
            filter: grayscale(100%);
            transition: filter 1s ease-in-out;
            &:hover {
                filter: none;
            }
        }
    }
}
@media screen and (max-width:1038px) {
    .workshop-wrap{
        width: 100%!important;
    }
    .workshop-wrap-1,.workshop-wrap-2,.workshop-wrap-3{
        margin:0!important;
        min-width: 350px!important;
        height: 27vh!important;
        a{
            display: block;
            height: 100%;
            .project-link{
                height: 100%!important;
            }
        }
        .workshop-title{
            display: none;
        }
    }
}


/*FLANEUR*/
.flaneur-wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    .flaneur-slider{
        margin:6vh 0;
        flex: 4;
        .flaneur-item{
            height: 70vh;
            img{
                width: 100%;
                height: 70vh;
                object-fit: cover;
            }
        }
        .flaneur-item-2{
            img{
                object-fit: scale-down;
            }
        }
        .flaneur-item-16{
            img{
                object-position: top;
            }
        }
    }
    .carousel-indicators li{
        background-color: rgb(255, 255, 255);
        border: 1px solid darkgray;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        &.active{
            background: darkgray;
        }
    }
    .project-arrow{
        width: 50%;
    }
    .carousel-control-next,.carousel-control-prev{
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
        }
    }
    .flaneur-content{
        flex: 3;
        .flaneur-title{
            padding: 20vh 13vh 10vh;
            font-size: $font-title1;
            text-align: left;
        }
        .flaneur-text{
            padding: 0 8vh 0 13vh;
            font-size: $font-text;
            text-align: right;
        }
    }
}
@media screen and (max-width:1038px) {
    .flaneur-wrapper{
        width: 100%;
        flex-direction: column;
        .flaneur-slider{
            width: 100%;
            .flaneur-item{
                height: 52vh;
                img{
                    height: 52vh;
                    object-fit: cover;
                }
            }
            .flaneur-item-2{
                img{
                    object-fit: scale-down;
                }
            }
            .flaneur-item-16{
                img{
                    object-position: top;
                }
            }
        }
        .flaneur-content{
            .flaneur-title{
                padding: 0;
                text-align: center;
            }
            .flaneur-text{
                padding: 3vh;
                text-align: center;
                .flaneur-text-relative{
                    min-height: 130px;
                    .flaneur-text-relative-inside{
                        text-align: center!important;
                    }
                }
            }
        }
    }
    
}



/* GÖZ */
.goz-wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    .goz-slider{
        margin:6vh 0;
        flex: 4;
        .goz-item{
            height: 75vh;
            img{
                width: 100%;
                height: 75vh;
                object-fit: scale-down;
            }
        }
    }
    .carousel-indicators li{
        background-color: rgb(255, 255, 255);
        border: 1px solid darkgray;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        &.active{
            background: darkgray;
        }
    }
    .project-arrow{
        width: 50%;
    }
    .carousel-control-next,.carousel-control-prev{
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
        }
    }
    .goz-content{
        flex: 3;
        .goz-title{
            padding: 20vh 13vh 10vh;
            font-size: $font-title1;
            text-align: left;
        }
        .goz-text{
            padding: 0 8vh 0 13vh;
            font-size: $font-text;
            text-align: right;
        }
    }
}
@media screen and (max-width:1038px) {
    .goz-wrapper{
        flex-direction: column;
        .goz-slider{
            width: 100%;
            .goz-item{
                height: 52vh;
                img{
                    height: 52vh;
                    object-fit: scale-down;
                }
            }
        }
        .goz-content{
            .goz-title{
                padding: 0;
                text-align: center;
            }
            .goz-text{
                padding: 3vh;
                text-align: center;
                .goz-text-relative{
                    min-height: 120px;
                    .goz-text-relative-inside{
                        text-align: center!important;
                    }
                }
            }
        }
        .carousel-indicators li{
            width: 3px;
            height: 3px;
        }
    }
    
}



/* MEYDAN */
.meydan-wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    .meydan-slider{
        margin:6vh 0;
        flex: 4;
        .meydan-item{
            height: 70vh;
            img{
                height: 70vh;
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
    .carousel-indicators li{
        background-color: rgb(255, 255, 255);
        border: 1px solid darkgray;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        &.active{
            background: darkgray;
        }
    }
    .project-arrow{
        width: 50%;
    }
    .carousel-control-next,.carousel-control-prev{
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
        }
    }
    .meydan-content{
        flex: 3;
        .meydan-title{
            padding: 8rem 2rem 2rem 5rem;
            font-size: $font-title1;
            text-align: left;

        }
        .meydan-text{
            padding: 0 2rem 0 5rem;
            font-size: $font-text;
            text-align: right;
        }
    }
}
@media screen and (max-width:1038px) {
    .meydan-wrapper{
        flex-direction: column;
        width: 100%;
        .meydan-slider{
            width: 100%;
            .meydan-item{
                height: auto;
                img{
                    height: auto;
                }
            }
        }
        .meydan-content{
            .meydan-title{
                padding: 0;
                text-align: center;
            }
            .meydan-text{
                padding: 3vh;
                text-align: center;
                .meydan-text-relative{
                    min-height: 90px;
                    .meydan-text-relative-inside{
                        text-align: center!important;
                    }
                }
            }
        }
        .carousel-indicators li{
            width: 4px;
            height: 4px;
        }
    }
    
}


/*ABOUT*/
.about-wrap {
    background: $background;

    .about-img  {
        padding-top: 40px;
        height: 80vh;
        background-image: url(../img/about.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
    }

    .about-text{
        width: 80%;
        margin: auto;
        .about-text-content {
            margin: 15vh 0 10vh 0;
            padding: 0 60px;
            font-size: $font-text;
        }
    }
}
@media screen and (max-width:768px) {
    .about-img{
        margin-top: 2vh;
        height: 50vh!important;
    }
    .about-text-content {
        margin: 15vh 0 10vh 0!important;
        padding: 0!important;
    }
}

/*DRAW*/
.draws-wrapper{
    width: 90%;
    margin: auto;
    .draws{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        .draw{
            margin: 0.5rem;
            max-width: 23.5%;
            border: 1px solid darkgray;
            img{
                width: 100%;
            }
        }
        }

}
@media screen and (max-width:768px) {
    .draws{
        display: block!important;
        .draw{
            margin: 0.5!important;
            padding: 0.5rem!important;
            max-width: 100%!important;
        }
    }
}

/*CV*/
.cv-items {
    width: 80%;
    margin: auto;

    .cv-items-wrap-open {
        opacity: 1!important;
        filter: grayscale(0%)!important;
        background-color: rgba(255,255,255,0.4)!important;
        background-blend-mode: lighten!important;
    }
    .cv-item-wrap{
        display: flex;
        margin: 1rem 0;
        flex-direction: column;
        opacity: 0.6;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 41vw;
        background-color: rgba(255,255,255,0);
        background-blend-mode: lighten;
        filter: grayscale(100%);
        transition: all 0.8s ease-in;
        color: none;

        .cv-item-div1 {
            display: flex;
            pointer-events: none;
        }
        .cv-item-div2{
            pointer-events: none;
            overflow: hidden;
            padding: 0 0.4rem 0.4rem 0;
        }
        .cv-item-img {
            height: 14vh;
            background-size: 7vh;
            min-width: 15vh;
            background-repeat: no-repeat;
            background-position: left;
            pointer-events: none;
        }
        .cv-item-title {
            padding: 1rem 0;
            font-size: $font-title1;
            min-width: 140px;
            align-self: center;
            pointer-events: none;
            font-weight: 600;
        }
        .cv-item-text {
            display: flex;
            opacity: 0;
            height: 0;
            font-weight: 500;
            font-size: $font-text;
            line-height: 1.8rem;
            text-align: left;
            transition: all 1s ease;
            .projeler-intext{
                font-size: 80%;
                display: block;
                color: rgb(78, 78, 78);
                max-width: 50%;
            }
        }
        .cv-item-language {
            box-sizing: border-box;
            padding: 1rem;
        }
        .cv-item-text-inside{
            margin-right: 5%;
        }
        .cv-items-text-open {
            opacity: 1!important;
        }
        
        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            background-color: rgba(255,255,255,0.4);
            background-blend-mode: lighten;
        }
        
    }



    /* ICONS */
    .cv-item-img-1 {
        background-image: url(../img/cv/school.png);
    }
    .cv-item-img-2 {
        background-image: url(../img/cv/work.png);
    }
    .cv-item-img-3 {
        background-image: url(../img/cv/skill.png);
    }
    .cv-item-img-4 {
        background-image: url(../img/cv/shape.png);
    }
    .cv-item-img-5 {
        background-image: url(../img/cv/plane.png);
    }
    .cv-item-img-6 {
        background-image: url(../img/cv/atelier.png);
    }
    .cv-item-img-7 {
        background-image: url(../img/cv/volunteer.png);
    }
    .cv-item-img-8 {
        background-image: url(../img/cv/certificate.png);
    }
    .cv-item-img-9 {
        background-image: url(../img/cv/bicycle.png);
    }

    /* BACKGROUND IMAGES */
    .cv-item-wrap-1 {
        background-image: url(../img/cv/cv1.jpeg);
        background-position-y: 17%;
    }
    .cv-item-wrap-2 {
        background-image: url(../img/cv/cv2.jpeg);
        background-position-y: 50%;

    }
    .cv-item-wrap-3 {
        background-image: url(../img/cv/cv3.jpeg);
        background-position-y: 20%;

    }
    .cv-item-wrap-4 {
        background-image: url(../img/cv/cv4.jpeg);
        background-position-y: 45%;

    }
    .cv-item-wrap-5 {
        background-image: url(../img/cv/cv5.jpeg);
        background-position-y: 45%;
    }
    .cv-item-wrap-6 {
        background-image: url(../img/cv/cv6.jpeg);
        background-position-y: 38%;
    }
    .cv-item-wrap-7 {
        background-image: url(../img/cv/cv7.png);
        background-position-y: 10%;
    }
    .cv-item-wrap-8 {
        background-image: url(../img/cv/cv8.jpeg);
        background-position-y: 30%;
    }
    .cv-item-wrap-9 {
        background-image: url(../img/cv/cv9.jpeg);
        background-position-y: 38.5%;

    }



}
@media screen and (max-width:768px) {
    .cv-items {
        width: 100%;
    }
    .cv-item-img {
        min-width: 13vw!important;
        background-size: 5vh!important;
        height: 9vh!important;
        margin:0 4%!important;
    }
    .cv-item-title{
        min-width: auto!important;
    }
    .cv-item-text {
        line-height: 1.2rem!important;
        margin:0 5%!important;
        .projeler-intext {
            max-width: 90%!important;
        }
    }
    .cv-item-text2{
        display: block!important;
    }
    .cv-item-wrap {
        background-position: cover!important;
        background-size: 100vw!important;
    }
    .cv-item-wrap-3 {
        background-position-y: 20%!important;
    }
    .cv-item-wrap-6 {
        background-position-y: 35%!important;
    }
    .cv-item-wrap-8 {
        background-position-y: 40%!important;
    }
    .cv-item-wrap-9 {
        background-position-y: 40%!important;
    }
}


/*FOOTER*/
.footer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 90%;
    margin: auto;
    .footer-wrap{
        display: block;
        align-items: center;
        .footer-icon-wrap{
            margin: auto;
            width: 80%;
            padding: 0.5rem 0;
            .footer-icons{
                display: flex;
                width: 168px;
                justify-content: space-between;
                a{
                    color: $firstcolor;
                }
                .footer-icon img {
                    width: 2rem;
                    transition: box-shadow 0.5s;
    
                    &:hover{
                        box-shadow: 2px 2px 2px darkgray;
                    }
                }
            }
        }
        .parvifolia-wrap{
            border-top: 1px solid $firstcolor;
            .parvifolia-wrap-inside{
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: auto;
                .parvifolia {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    font-size: 12px;
                    text-align: right;
                    a{
                        color: black;
                        transition: box-shadow 0.5s;
                        &:hover{
                            box-shadow: 2px 2px 2px darkgray;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

    }
}
@media screen and (max-width:768px) {
    .footer{
        padding-bottom: 3vh!important;
        .footer-icons{
            width: 205px!important;
            margin:auto!important;
        }
        .footer-mail-text{
            display: none!important; 
        }
        .parvifolia{
            margin: auto!important;
            font-size: 9px!important;
            text-align: center!important;
        }
    }

}

/* 404 */
.cv{
    width: 90%;
    margin: auto;
    .page404{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5vh auto;

    }
}




