{%load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>Portfolio | Gülşen Aktaş</title>

        
    </head>

    <header>
        <div class="header-wrap">

            <div class="header-items">

                <div class="logo-wrap">
                    <div class="logo">
                        <a id='gulsen' href='#'>GÜLŞEN</a>
                        <a id='aktas' href="#">AKTAŞ </a>
                    </div>
    
                    <div class="nav-portfolio">
                        portfolio
                    </div>
                </div>
                
                <div class="nav-wrap">

                    <div class="nav-item">
                        <a href="{% url 'about'%}">hakkında</a>
                    </div>


                    <div class="nav-item">
                        <a href="{% url 'home'%}">proje</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'workshop'%}">workshop</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cizim'%}">çizim</a>
                    </div>

                    <div class="nav-item ">
                        <a href="{% url 'cv'%}">cv</a>
                    </div>

                </div>

            </div>
        </div>
    </header>

    <body>

        <div class="cv">
            <div class="page404">
                <div class="h1-404">404</div>
                <div class="text-404">Project not found!</div>
                <div class="text2-404">But if you want this project, I can draw it for you! Contact me!</div>
            </div>
        </div>


            </div>
        </div>
    </body>

    <footer>

        <div class="footer">
            <div class="footer-wrap">

                <div class="footer-icon-wrap">

                    <!-- <div class="footer-icon">
                        <a href="mailto:aaktasgulsen@gmail.com">
                            <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                        </a>
                    </div> -->
                    <div class="footer-icon">
                        <a href="#">
                            <img src="{% static 'portfolio/img/icon/in.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.instagram.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/ins.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.facebook.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/f.png' %}">
                        </a>
                    </div>
                </div>


                <div class="parvifolia-wrap">
                    <div class="parvifolia-wrap-inside">
                        <div class="parvifolia">
                            aaktasgulsen@gmail.com
                        </div>
                        <div class="parvifolia">
                            designed by parvifolia | 2020 copyright
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

</html>