{% load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>CV | Gülşen Aktaş</title>

        
    </head>

    <header class='container-1'>

        <div class="logo">
        </div>

        <div class="nav-container">
            <div class="nav-item">
                <a href=" {% url 'about'%} ">ABOUT</a>
            </div>


            <div class="nav-item">
                <a href="{% url 'home'%}">PORTFOLIO</a>
            </div>

            <div class="nav-item nav-item-acvite">
                <a href="#">CV</a>
            </div>
        </div>
    </header>

    <body>

        <div class="cv-wrap">
            <div class="cv-items">
                <div class="cv-item-wrap cv-item-wrap-1">
                    <div class="cv-item-img cv-item-img-1"></div>
                    <div class="cv-item-title">STUDIES</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-2">
                    <div class="cv-item-img cv-item-img-2"></div>
                    <div class="cv-item-title">JOB EXPERIENCES</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-3">
                    <div class="cv-item-img cv-item-img-3"></div>
                    <div class="cv-item-title">SKILLS</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-4">
                    <div class="cv-item-img cv-item-img-4"></div>
                    <div class="cv-item-title">LANGUAGES</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-5">
                    <div class="cv-item-img cv-item-img-5"></div>
                    <div class="cv-item-title">ACTIVITIES</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-6">
                    <div class="cv-item-img cv-item-img-6"></div>
                    <div class="cv-item-title">HOBBIES</div>
                    <div class="cv-item-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. </strong></div>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <div class="footer">
            <div class="footer-wrap">
                <div class="footer-icon-wrap">
                    <div class="footer-icon">
                        <a href="mailto:glsnakts.95@gmail.com">
                            <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="#">
                            <img src="{% static 'portfolio/img/icon/in.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.facebook.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/f.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.instagram.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/ins.png' %}">
                        </a>
                    </div>
                </div>

                <div class="contact-wrap">
                    <div class="contact1"></div>
                    <div class="contact">
                        CONTACT
                    </div>
                    <div class="contact2"> </div>
                </div>

                <div class="parvifolia">
                    designed by parvifolia | 2020 copyright
                </div>
            </div>
        </div>
    </footer>

</html>