{%load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'portfolio/img/icon/myIcon.ico'%}" type="image/x-icon">
        <meta name="description" content="Tasarımcı Mimar">
        <meta name="keywords" content="Mimar, Tasarımcı, Portfolyo, Proje, Workshop, CV, UX design, Kullanıcı deneyimi tasarımı, Freelance">
        <meta property="og:title" content="Gülşen Aktaş"> 
        <meta property="og:description" content="Tasarımcı Mimar"> 
        <meta property="og:image" content="http://parvifolia.pythonanywhere.com/static/portfolio/img/draw/5.jpg"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>CV | Gülşen Aktaş</title>
    </head>

    <header>
        <div class="header-wrap">

            <div class="header-items">

                <div class="logo-wrap">
                    <div class="logo">
                        <a id='gulsen' href="{%url 'home'%}">GÜLŞEN</a>
                        <a id='aktas' href="{%url 'home'%}">AKTAŞ </a>
                    </div>
    
                    <div class="nav-portfolio">
                        portfolio
                    </div>
                </div>
                
                <div class="nav-wrap">

                    <div class="nav-item">
                        <a href=" {% url 'about'%} ">hakkında</a>
                    </div>


                    <div class="nav-item">
                        <a href="{% url 'home'%}">proje</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'workshop'%}">workshop</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cizim'%}">çizim</a>
                    </div>

                    <div class="nav-item nav-item-acvite">
                        <a href="#">cv</a>
                    </div>

                </div>

            </div>
        </div>
    </header>

    <body>

        <div class="cv-wrap">
            <div class="cv-items" onclick="">
                <div class="cv-item-wrap cv-item-wrap-1">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-1"></div>
                        <div class="cv-item-title">EĞİTİM</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">▪ Beykent Üniversitesi / 2015-2018 /  GPA: 3.25<br>
                            Mühendislik-Mimarlık Fakültesi  <br>
                            Mimarlık <br><br>
                            ▪ Erciyes Üniversitesi / 2013-2015<br>
                            Şehir ve Bölge Planlama<br>
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-2">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-2"></div>
                        <div class="cv-item-title">İŞ DENEYİMİ</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">▪ DNW Associates, Colombo (Sri Lanka)<br>
                            Junior Architect (15.11.2018 / 01.02.2019)<br><br>
                            ▪ Öney Mimarlık, İstanbul (Türkiye)<br>
                            Stajyer Mimar (03.07.2017 / 07.09.2017)
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-3">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-3"></div>
                        <div class="cv-item-title">YETENEK</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">
                            <div class="cv-item-text-inside">
                                ▪ AutoCad<br>
                                ▪ Adobe Photoshop<br>
                                ▪ Adobe XD <br>
                                ▪ Adobe Illustration<br>
                                ▪ Adobe Indesign
                            </div>
                            <div class="cv-item-text-inside-2">
                                ▪ Sketchup <br>
                                ▪ Lumion<br>
                                ▪ Microsoft Office<br>
                                ▪ After Effects<br>
                                ▪ Revit
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-4">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-4"></div>
                        <div class="cv-item-title">DİL</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text"><div class='cv-item-language'>▪ English  |  B2</div></div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-5">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-5"></div>
                        <div class="cv-item-title">PROJE</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text cv-item-text2" style="display: block;" > 
                            ▪ Take The Change (2015) - Fırsatı Yakala Programı <br> 
                            <div class="projeler-intext">Türkiye sivil toplum aktörleri, Alman Theodor-Heuss-Kolleg ve MitOst partnerliğinde, Türkiye Avrupa Vakfı ile yürütülen programdan mezun oldum. </div> 
                            ▪ Sosyal Sorumluluk Projesi, Kocaseyit Köyü Meydan Tasarım Projesi <br> 
                            ▪ Gençlik Değişimi Projesi (Erasmus +) - Active Citizens Together - Bank/Macaristan <br>
                            ▪ Kentte Kadın Olmak (Erciyes Üni. Sosyal Sorumluluk Projesi)
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-6">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-6"></div>
                        <div class="cv-item-title">ATÖLYE</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">▪ Betonart Mimarlık Yaz Okulu (Kayseri- AGÜ) <br>
                            ▪ Pupa 2.0 ( Gebze Teknik Üniversitesi) <br>
                            ▪ Uluslararası Mimarlık Öğrencileri Buluşması(UMÖB 17,5) <br>
                            ▪ Manipülasyon Atölyesi (Tasarım Atölyesi Kadıköy)<br>
                            ▪ Habitat Sosyal Uyum Kampı<br>
                            ▪ Planlama öğrencileri 4. yaz kampı</div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-7">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-7"></div>
                        <div class="cv-item-title">GÖNÜLLÜLÜK</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">
                            ▪ Experienta Multisport Uluslararası Gönüllülük Projesi ( Romanya - 2016 Haziran / Ağustos) <br>
                            ▪ Vodafone (38.)- (39.) - (40.) İstanbul Maratonları, (Türkiye Spor Gönüllüleri) <br>
                            ▪ Samsung 29. kıtalararası yüzme yarışı, (Türkiye Spor Gönüllüleri) <br>
                            ▪ Balkan İndoor Championships 2018 ve 2019, (Türkiye Spor Gönüllüleri) <br>
                            ▪ İnternational İstanbul Athletics İndoor Cup 2018 ve 2019, (Türkiye Spor Gönüllüleri) <br>
                            ▪ Red Bull uçuş günü organizasyonu (2019), (Türkiye Spor Gönüllüleri)
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-8">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-8"></div>
                        <div class="cv-item-title">SERTİFİKA</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">
                            <div class="cv-item-text-inside">
                                ▪ AutoCad<br>
                                ▪ Adobe Photoshop<br>
                                ▪ Adobe Indesign <br>
                                ▪ Photoshop ile Web Arayüz Tasarımı
                                
                            </div>
                            <div class="cv-item-text-inside-2">
                                ▪ Spor Etkinlik Yönetimi <br>
                                ▪ Gönüllülük Eğitimi<br>
                                ▪ Beden Dili Eğitimi 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cv-item-wrap cv-item-wrap-9">
                    <div class="cv-item-div1">
                        <div class="cv-item-img cv-item-img-9"></div>
                        <div class="cv-item-title">HOBİ</div>
                    </div>
                    <div class="cv-item-div2">
                        <div class="cv-item-text">
                            <div class="cv-item-text-inside">
                                ▪ İllüstrasyon<br>
                                ▪ Swing Dans<br>
                                ▪ Fotoğrafçılık (Amatör)                            
                            </div>
                            <div class="cv-item-text-inside-2">
                                ▪ Doğa yürüyüşü <br>
                                ▪ Bisiklet sürmek
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{%static 'portfolio/js/cv.js'%}"></script>
    </body>
    
    <footer>

        <div class="footer">
            <div class="footer-wrap">

                <div class="footer-icon-wrap">
                    <div class="footer-icons">
                        <div class="footer-icon footer-mail">
                            <a href="mailto:aaktasgulsen@gmail.com">
                                <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="http://linkedin.com/in/gülşen-aktaş-64b817130">
                                <img src="{% static 'portfolio/img/icon/in.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="https://www.instagram.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/ins.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon footer-facebook">
                            <a href="https://www.facebook.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/f.png' %}">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="parvifolia-wrap">
                    <div class="parvifolia-wrap-inside">
                        <div class="parvifolia footer-mail-text">
                            <a href="mailto:aaktasgulsen@gmail.com">aaktasgulsen@gmail.com</a>
                        </div>
                        <div class="parvifolia">
                            designed by parvifolia | 2020 copyright
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

</html>