{% load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>Portfolio | Gülşen Aktaş</title>

        
    </head>

    <header>
        <div class="container-header">
            <div class="logo">
                <a id='gulsen' href='#'>GÜLŞEN</a>
                <a id='aktas' href="#">AKTAŞ</a>
            </div>

            <div class="nav-container">
                <div class="nav-item">
                    <a href=" {% url 'about'%} ">HAKKINDA</a>
                </div>


                <div class="nav-item nav-item-acvite">
                    <a href="#">PORTFOLYO</a>
                </div>

                <div class="nav-item">
                    <a href="{% url 'cv'%}">CV</a>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="conteiner-portfolio">

            <div class="projects-wrap-background">

                <div class="projects-wrap" onclick="">
                    <div class="project-wrap-1">
                        <a href="{%url 'm402'%}">
                        <div class="project-link">
                            <div class="project-text">
                                M402 | LIVECOMPLEX
                            </div>
                        </div> 
                        </a>
                    </div>

                    <div class="project-wrap-2">
                        <a href="{%url 'm402'%}">
                            <div class="project-link">
                                <div class="project-text">
                                    CULTURAL CENTER | M401
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="project-wrap-3">
                        <a href="{%url 'm402'%}">
                            <div class="project-link">
                                <div class="project-text">
                                    M302 | HOUSES
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="project-wrap-4">
                        <a href="{%url 'm402'%}">
                            <div class="project-link">
                                <div class="project-text">
                                    FASION HOUSE | M301
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>

            </div>

            
        </div>


    </body>

    <footer>

        <div class="footer">
            <div class="footer-wrap">
                <div class="footer-icon-wrap">
                    <div class="footer-icon">
                        <a href="mailto:aaktasgulsen@gmail.com">
                            <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="#">
                            <img src="{% static 'portfolio/img/icon/in.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.facebook.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/f.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.instagram.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/ins.png' %}">
                        </a>
                    </div>
                </div>

                <div class="contact-wrap">
                    <div class="contact1"></div>
                    <div class="contact">
                        CONTACT
                    </div>
                    <div class="contact2"> </div>
                </div>

                <div class="parvifolia">
                    designed by parvifolia | 2020 copyright
                </div>
                <div class="parvifolia">
                    special thanks for volunteer feedback team;
                </div>
                <div class="parvifolia">
                    Gülşen, Mali, Furki, İko
                </div>
            </div>
        </div>

    </footer>

</html>
