{%load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tasarımcı Mimar">
        <meta name="keywords" content="Mimar, Tasarımcı, Portfolyo, Proje, UX design, Kullanıcı deneyimi tasarımı, Freelance">
        <meta property="og:title" content="Gülşen Aktaş"> 
        <meta property="og:description" content="Tasarımcı Mimar"> 
        <meta property="og:image" content="http://parvifolia.pythonanywhere.com/static/portfolio/img/draw/5.jpg"> 
        <link rel="shortcut icon" href="{% static 'portfolio/img/icon/myIcon.ico'%}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>Portfolio | Gülşen Aktaş</title>
    </head>

    <header>
        <div class="header-wrap">

            <div class="header-items">

                <div class="logo-wrap">
                    <div class="logo">
                        <a id='gulsen' href='#'>GÜLŞEN</a>
                        <a id='aktas' href="#">AKTAŞ </a>
                    </div>
    
                    <div class="nav-portfolio">
                        portfolio
                    </div>
                </div>
                
                <div class="nav-wrap">

                    <div class="nav-item">
                        <a href=" {% url 'about'%} ">hakkında</a>
                    </div>


                    <div class="nav-item nav-item-acvite">
                        <a href="#">proje</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'workshop'%}">workshop</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cizim'%}">çizim</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cv'%}">cv</a>
                    </div>

                </div>

            </div>
        </div>
    </header>

    <body>
        <div class="conteiner-portfolio">

            <div class="projects-wrap-background">

                <div class="projects-wrap" onclick="">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="project-wrap-1">
                                <a href="{%url 'm402'%}">
                                    <img class="project-img" src="{% static 'portfolio/img/home/402sketch.png'%}" alt="m402-project">
                                    LIVECOMPLEX
                                </a>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="project-wrap-2">
                                <a href="{%url 'm401'%}">
                                    <img class="project-img" src="{% static 'portfolio/img/home/401sketch.png'%}" alt="m401-project">
                                    CULTURAL CENTER
                                </a>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="project-wrap-3">
                                <a href="{%url 'm302'%}">
                                    <img class="project-img" src="{% static 'portfolio/img/home/302sketch.png'%}" alt="m302-project">
                                    HOUSES
                                </a>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="project-wrap-4">
                                <a href="{%url 'm301'%}">
                                    <img class="project-img" src="{% static 'portfolio/img/home/301sketch.png'%}" alt="m302-project">
                                    FASION HOUSE
                                </a>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <img class ="arrow" src="{% static 'portfolio/img/home/back.png' %}">                             
                            <span class="sr-only">Previous</>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <img class ="arrow" src="{% static 'portfolio/img/home/next.png' %}">                             
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    
                </div>

            </div>

            
        </div>
        
        <script src="{% static 'portfolio\js\bootstrap\jquery-3.5.1.min.js'%}"></script>
        <script src="{% static 'portfolio\js\bootstrap\popper.min.js'%}"></script>
        <script src="{% static 'portfolio\js\bootstrap\bootstrap.min.js'%}"></script>
    </body>

    <footer>

        <div class="footer">
            <div class="footer-wrap">

                <div class="footer-icon-wrap">
                    <div class="footer-icons">
                        <div class="footer-icon footer-mail">
                            <a href="mailto:aaktasgulsen@gmail.com">
                                <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="http://linkedin.com/in/gülşen-aktaş-64b817130">
                                <img src="{% static 'portfolio/img/icon/in.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="https://www.instagram.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/ins.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon footer-facebook">
                            <a href="https://www.facebook.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/f.png' %}">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="parvifolia-wrap">
                    <div class="parvifolia-wrap-inside">
                        <div class="parvifolia footer-mail-text">
                            <a href="mailto:aaktasgulsen@gmail.com">aaktasgulsen@gmail.com</a>
                        </div>
                        <div class="parvifolia">
                            designed by parvifolia | 2020 copyright
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

</html>
