{%load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tasarımcı Mimar">
        <meta name="keywords" content="Mimar, Tasarımcı, Portfolyo, Proje, UX design, Kullanıcı deneyimi tasarımı, Freelance, Workshop">
        <meta property="og:title" content="Gülşen Aktaş"> 
        <meta property="og:description" content="Tasarımcı Mimar"> 
        <meta property="og:image" content="http://parvifolia.pythonanywhere.com/static/portfolio/img/draw/5.jpg"> 
        <link rel="shortcut icon" href="{% static 'portfolio/img/icon/myIcon.ico'%}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>Workshop | Gülşen Aktaş</title>
    </head>

    <header>
        <div class="header-wrap">

            <div class="header-items">

                <div class="logo-wrap">
                    <div class="logo">
                        <a id='gulsen' href="{%url 'home'%}">GÜLŞEN</a>
                        <a id='aktas' href="{%url 'home'%}">AKTAŞ </a>
                    </div>
    
                    <div class="nav-portfolio">
                        portfolio
                    </div>
                </div>
                
                <div class="nav-wrap">

                    <div class="nav-item">
                        <a href=" {% url 'about'%} ">hakkında</a>
                    </div>


                    <div class="nav-item">
                        <a href="{% url 'home'%}">proje</a>
                    </div>

                    <div class="nav-item nav-item-acvite">
                        <a href="#">workshop</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cizim'%}">çizim</a>
                    </div>

                    <div class="nav-item">
                        <a href="{% url 'cv'%}">cv</a>
                    </div>

                </div>

            </div>
        </div>
    </header>

    <body>
        <div class="conteiner-workshop">

            <div class="workshop-wrap-background">

                <div class="workshop-wrap" onclick="">

                    <div class="workshop-wrap-1">
                        <a href="{%url 'flaneur'%}">
                            <div class="workshop-title">
                                FLANEUR
                            </div>
                        </a>
                    </div>

                    <div class="workshop-wrap-2">
                        <a href="{%url 'goz'%}">
                            <div class="workshop-title">
                                GÖZ
                            </div>
                        </a>
                    </div>

                    <div class="workshop-wrap-3">
                        <a href="{%url 'meydan'%}">
                            <div class="workshop-title">
                                MEYDAN
                            </div>
                        </a>
                    </div>
                    
                </div>

            </div>

        </div>
    </body>

    <footer>

        <div class="footer">
            <div class="footer-wrap">

                <div class="footer-icon-wrap">
                    <div class="footer-icons">
                        <div class="footer-icon footer-mail">
                            <a href="mailto:aaktasgulsen@gmail.com">
                                <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="http://linkedin.com/in/gülşen-aktaş-64b817130">
                                <img src="{% static 'portfolio/img/icon/in.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon">
                            <a href="https://www.instagram.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/ins.png' %}">
                            </a>
                        </div>
                        <div class="footer-icon footer-facebook">
                            <a href="https://www.facebook.com/glsnnakts">
                                <img src="{% static 'portfolio/img/icon/f.png' %}">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="parvifolia-wrap">
                    <div class="parvifolia-wrap-inside">
                        <div class="parvifolia footer-mail-text">
                            <a href="mailto:aaktasgulsen@gmail.com">aaktasgulsen@gmail.com</a>
                        </div>
                        <div class="parvifolia">
                            designed by parvifolia | 2020 copyright
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

</html>
