/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Variables */
$firstcolor : lightgray;
$secondcolor: black;
$background: rgb(228, 228, 228);
$margin-top: 62px;
$height: 75vh;
/*********************************************/
html {
    font-family: 'Comfortaa','arial';
}
/* LOGO */
.logo {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Comfortaa', 'arial';
    
    #gulsen {
        text-decoration: none;
        color: $firstcolor;
        transition: color 1.5s;
    }
    #aktas {
        text-decoration: none;
        color: $secondcolor;
        transition: color 1.5s;
    }

    &:hover {

        #gulsen {
            color: $secondcolor;
        }
        #aktas {
            color: $firstcolor;
        }
    }
}
/* NAVBAR */
.container-header {
    padding: 25px 15px 5px 15px;

    .nav-container { 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .nav-item {
            padding: 5px;
            text-align: center;
            width: 100px;
            border-bottom: 1px solid transparent;
            transition: border-bottom 1s;
            &:hover {
                border-bottom: 1px solid black;
            }
    
            a {
                color:$firstcolor;
                text-decoration: none;
                transition: color 1s;
                &:hover {
                    color: $secondcolor;
                }
            }
        }
    }
}
.nav-item-acvite {
    a {
        color: $secondcolor!important;
    }
    
    border-bottom: 1px solid black!important
}

/*FOOTER*/
.footer {
    padding-top: 3vh;
    .footer-icon-wrap{ 
        margin: 15px 0px;
        display: flex;
        justify-content: space-around;
        padding: 0 30%;
        .footer-icon img {
            width: 50px;
        }
    }
    
    .contact-wrap {
        display: flex;
    }
    .contact1,.contact2 {
        flex: 5;
    }
    
    .contact { 
        flex: 6;
        border-top: 1px solid gray;
        padding-top: 9px;
        width: 400px;
        text-align: center;
    }
    
    .parvifolia {
        margin:10px;
        font-size: 13px;
        text-align: center;
    }

}

/* PORTFOLIO */
@mixin wrapdefault ($align) {
    width: 47.5%;
    min-width: 200px;
    height: $height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    .project-link {
        height: $height;
    }

    a{
        text-decoration: none;
        color: transparent;
        transition: color 1s;
        &:hover {
            color: $secondcolor;
        }
    }

    .project-text {
        letter-spacing: -2px;
        font-size: 22px;
        text-align: $align ;
    }
}
.projects-wrap-background {
    background: $background;
    .projects-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        padding-top: 50px;
        
        .project-wrap-1 {
            @include wrapdefault(left);
            background-image:url(../img/402-2.JPG);
            transition: all 1s;
            &:hover {
                background-image: url(../img/402-1.jpg);
            }


        }

        .project-wrap-2 {
            @include wrapdefault(right);
            background-image:url(../img/401-2.JPG);
            transition: all 1s;
            &:hover {
                background-image: url(../img/401-1.JPG)
            }
        }
    
        .project-wrap-3 {
            @include wrapdefault(left);
            background-image:url(../img/302-2.JPG);
            transition: all 1s;
            &:hover {
                background-image:url(../img/302-1.JPG);
            }
        }

        .project-wrap-4 {
            @include wrapdefault(right);
            background-image:url(../img/301-2.JPG);
            transition: all 1s;
            &:hover {
                background-image:url(../img/301-1.JPG);
            }
        }
    }

}
@media screen and (max-width:500px) {
    .projects-wrap {
        justify-content: center!important;
        .project-wrap-1,.project-wrap-2,.project-wrap-3,.project-wrap-4{
            width: 100%!important;
            .project-text {
                text-align: center!important ;
            }
            a {
                color: black!important;
            }
        }
    }
}

/*PROJECTS*/
.project-item-background {
    background-color: $background;
    .project-item-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        padding-top: 50px;
        .project-item {

            width: 47.5%;
            min-width: 200px;
            height: $height;
            margin-bottom: 50px;

            .project-item-text {
                padding-top: 100px;
                text-align: right;
            }
            #slider {
                input[type=radio] {
                    display: none;
                }
                #controls {
                    margin: -250px 0 0 0;
                    width: 100%;
                    height: 50px;
                    position: relative;
                    label {
                        transition: opacity 0.2s ease-out;
                        display: none;
                        width: 50px;
                        height: 50px;
                        opacity: .7;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                #bullets {
                    margin: 215px 0 0;
                    text-align: center;
                    label {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius:100%;
                    background: #ccc;
                    margin: 0 10px;
                    }
                }

                #overflow {
                    width: 100%;
                    overflow: hidden;
                    .inner {
                        transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
                        width: 400%;
                        height: 420px;
                        .slide {
                            width: 25%;
                            float:left;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                        .slide_1 {
                            background-image: url(../img/302-1.JPG);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .slide_2 {
                            background-image: url(../img/302-2.JPG);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .slide_3 {
                            background-image: url(../img/302-1.JPG);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .slide_4 {
                            background-image: url(../img/302-1.JPG);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
                
            }
        }
        
    }
}
@media screen and (max-width:500px) {
    .project-item-wrap {
        justify-content: center!important;
        .project-item {
            width: 100%!important;
            .project-item-text {
                text-align: center!important ;
            }
        }
    }
}

/*ABOUT*/
.about-wrap {
    background: $background;

    .about-img  {
        padding-top: 40px;
        height: 80vh;
        background-image: url(../img/about.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
    }

    .about-text-h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 30px;
    }

    .about-text-content {
        margin-top: 30px;
        padding: 0 60px;
        padding-bottom: 50px;
    }
}


/*CV*/

.cv-items {
    width: 80%;
    margin: auto;
    .cv-item-wrap{
        display: flex;
        margin: 1rem 0;
        flex-direction: column;
        opacity: 0.6;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 41vw;
        background-color: rgba(255,255,255,0);
        background-blend-mode: lighten;
        filter: grayscale(100%);
        transition: all 0.8s ease;
        color: none;

        .cv-item-div1 {
            display: flex;
            pointer-events: none;
        }
        .cv-item-div2{
            pointer-events: none;
            overflow: hidden;
        }
        .cv-item-img {
            flex: 1;
            height: 14vh;
            background-size: 8vh;
            min-width: 10vw;
            background-repeat: no-repeat;
            background-position: left;
            pointer-events: none;
        }
        .cv-item-title {
            flex: 8;
            box-sizing: border-box;
            padding: 1rem 0;
            position: relative;
            font-size: calc(1.2rem + 0.5vw);
            min-width: 140px;
            align-self: center;
            pointer-events: none;
            font-weight: 600;
        }
        .cv-item-text {
            opacity: 0;
            height: 0px;
            display: flex;
            font-weight: 600;
            font-size: calc(0.6rem + 0.5vw);
            line-height: 1.8rem;
            text-align: left;
            transition: all 0.8s ease;
            .projeler-intext{
                font-size: 80%;
                display: block;
                color: rgb(78, 78, 78);
                max-width: 50%;
            }
        }
        .cv-item-language {
            box-sizing: border-box;
            padding: 1rem;
        }
        .cv-item-text-inside{
            margin-right: 5%;
        }
        .cv-items-text-open-1 {
            opacity: 1!important;
            height: 30vh;
        }
        .cv-items-text-open-2 {
            opacity: 1!important;
            height: 30vh;
        }
        .cv-items-text-open-3 {
            opacity: 1!important;
            height: 26vh;
        }
        .cv-items-text-open-4 {
            opacity: 1!important;
            height: 14vh;
        }
        .cv-items-text-open-5 {
            opacity: 1!important;
            height: 34vh;
        }
        .cv-items-text-open-6 {
            opacity: 1!important;
            height: 32vh;
        }
        .cv-items-text-open-7 {
            opacity: 1!important;
            height: 34vh;
        }
        .cv-items-text-open-8 {
            opacity: 1!important;
            height: 22vh;
        }
        .cv-items-text-open-9 {
            opacity: 1!important;
            height: 20vh;
        }
        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            background-color: rgba(255,255,255,0.4);
            background-blend-mode: lighten;
        }

    }



    /* ICONS */
    .cv-item-img-1 {
        background-image: url(../img/cv/school.png);
    }
    .cv-item-img-2 {
        background-image: url(../img/cv/work.png);
    }
    .cv-item-img-3 {
        background-image: url(../img/cv/skill.png);
    }
    .cv-item-img-4 {
        background-image: url(../img/cv/shape.png);
    }
    .cv-item-img-5 {
        background-image: url(../img/cv/plane.png);
    }
    .cv-item-img-6 {
        background-image: url(../img/cv/atelier.png);
    }
    .cv-item-img-7 {
        background-image: url(../img/cv/volunteer.png);
    }
    .cv-item-img-8 {
        background-image: url(../img/cv/certificate.png);
    }
    .cv-item-img-9 {
        background-image: url(../img/cv/bicycle.png);
    }

    /* BACKGROUND IMAGES */
    .cv-item-wrap-1 {
        background-image: url(../img/cv/cv1.jpeg);
        background-position-y: 25%;
    }
    .cv-item-wrap-2 {
        background-image: url(../img/cv/cv2.jpeg);
        background-position-y: 50%;

    }
    .cv-item-wrap-3 {
        background-image: url(../img/cv/cv3.jpeg);
        background-position-y: 20%;

    }
    .cv-item-wrap-4 {
        background-image: url(../img/cv/cv4.jpeg);
        background-position-y: 45%;

    }
    .cv-item-wrap-5 {
        background-image: url(../img/cv/cv5.jpeg);
        background-position-y: 45%;
    }
    .cv-item-wrap-6 {
        background-image: url(../img/cv/cv6.jpeg);
        background-position-y: 38%;
    }
    .cv-item-wrap-7 {
        background-image: url(../img/cv/cv7.png);
        background-position-y: 10%;
    }
    .cv-item-wrap-8 {
        background-image: url(../img/cv/cv8.jpeg);
        background-position-y: 30%;
    }
    .cv-item-wrap-9 {
        background-image: url(../img/cv/cv9.jpeg);
        background-position-y: 38.5%;

    }



}
@media screen and (max-width:500px) {
    .cv-items {
        width: 100%;
    }
    .cv-item-img {
        min-width: 15vw!important;
        margin:0 5%!important;

    }
    .cv-item-text {
        margin:0 5%!important;
        .projeler-intext {
            max-width: 90%!important;
        }
    }
    .cv-item-wrap {
        background-position: center!important;
        background-size: 100vw!important;
    }
    .cv-items-text-open-5 {
        height: 44vh!important;
    }
    .cv-items-text-open-7 {
        height: 52vh!important;
        max-width: 86%;
    }
}
@media screen and (max-width:709px) and (min-width:501px) {
    .cv-item-text {
        margin:0 5%!important;
        .projeler-intext {
            max-width: 90%!important;
        }
    }
    .cv-items-text-open-7 {
        height: 52vh!important;
        max-width: 86%;
    }
}


/* 404 */
.page404 {
    .h1-404 {
        font-size:100px;
        position: relative;
        bottom: 100px;
    }
    
    .text-404 {
        position: relative;
        bottom: 100px;
    }
    
    .text2-404 {
        padding-top: 50px;
        position: relative;
        bottom: 100px;
    }
}


/* SLIDE ANIMATION*/
.project-item {
    #slide1:checked ~ #slides .inner {
    margin-left: 0;
    }
    #slide2:checked ~ #slides .inner {
    margin-left: -100%;
    }
    #slide3:checked ~ #slides .inner {
    margin-left: -200%;
    }
    #slide4:checked ~ #slides .inner {
    margin-left: -300%;
    }
    
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    display: block;
    }
    
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(4),
    #slide3:checked ~ #controls label:nth-last-child(3),
    #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    display: block;
    }
    
    #slide1:checked ~ #bullets label:nth-child(1),
    #slide2:checked ~ #bullets label:nth-child(2),
    #slide3:checked ~ #bullets label:nth-child(3),
    #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
    }

}

/* TITLE ANIMATION */ 
@media screen and (max-width:3000px) {
    .item-text {
        width: 100%;
        letter-spacing: -2px;
        font-size: 22px;
        z-index: 1;
        position: relative;
        text-align: right;
        animation-name: textmove2;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes textmove2 {
            0%{ transform: translateX(-174%) ; }
            100%{ transform: translateX(0%) ; }
        }
    }

}
@media screen and (max-width:500px) {


    .project-item-text {
        text-align: center!important;
    }

    .item-text {
        width: 100%;
        letter-spacing: -2px;
        font-size: 22px;
        z-index: 1;
        text-align: center;
        position: relative;
        margin-top: 30px;
        margin-bottom: -30px;
        animation-name: textmove2;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes textmove2 {
            0%{ transform: translateY(-500px) ; }
            100%{ transform: translateY(0px) ; }
        }
    }

}


