/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Variables */
/* LOGO */
.logo {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-family: 'Comfortaa', cursive, 'arial';
}

.logo #gulsen {
  text-decoration: none;
  color: lightgray;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.logo #aktas {
  text-decoration: none;
  color: black;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.logo:hover #gulsen {
  color: black;
}

.logo:hover #aktas {
  color: lightgray;
}

html {
  font-family: 'Comfortaa', cursive, 'arial';
  scroll-behavior: smooth;
}

/* NAVBAR */
.container-1 {
  padding: 20px;
}

.container-1 .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-1 .nav-container .nav-item {
  padding: 5px;
  text-align: center;
  width: 100px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.container-1 .nav-container .nav-item:hover {
  border-bottom: 1px solid black;
}

.container-1 .nav-container .nav-item a {
  color: lightgray;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.container-1 .nav-container .nav-item a:hover {
  color: black;
}

.nav-item-acvite {
  border-bottom: 1px solid black !important;
}

.nav-item-acvite a {
  color: black !important;
}

/* PORTFOLIO */
.projects-wrap-background {
  background: #e4e4e4;
}

.projects-wrap-background .projects-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px 20px;
  padding-bottom: 50px;
}

.projects-wrap-background .projects-wrap .project-wrap-1 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/402-2.JPG);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-1 .project-link {
  height: 420px;
}

.projects-wrap-background .projects-wrap .project-wrap-1 a {
  text-decoration: none;
  color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-1 a:hover {
  color: black;
}

.projects-wrap-background .projects-wrap .project-wrap-1 .project-text {
  letter-spacing: -2px;
  font-size: 22px;
  top: 0;
  text-align: left;
}

.projects-wrap-background .projects-wrap .project-wrap-1:hover {
  background-image: url(../img/402-1.jpg);
}

.projects-wrap-background .projects-wrap .project-wrap-2 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/401-2.JPG);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-2 .project-link {
  height: 420px;
}

.projects-wrap-background .projects-wrap .project-wrap-2 a {
  text-decoration: none;
  color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-2 a:hover {
  color: black;
}

.projects-wrap-background .projects-wrap .project-wrap-2 .project-text {
  letter-spacing: -2px;
  font-size: 22px;
  top: 0;
  text-align: right;
}

.projects-wrap-background .projects-wrap .project-wrap-2:hover {
  background-image: url(../img/401-1.JPG);
}

.projects-wrap-background .projects-wrap .project-wrap-3 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/302-2.JPG);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-3 .project-link {
  height: 420px;
}

.projects-wrap-background .projects-wrap .project-wrap-3 a {
  text-decoration: none;
  color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-3 a:hover {
  color: black;
}

.projects-wrap-background .projects-wrap .project-wrap-3 .project-text {
  letter-spacing: -2px;
  font-size: 22px;
  top: 0;
  text-align: left;
}

.projects-wrap-background .projects-wrap .project-wrap-3:hover {
  background-image: url(../img/302-1.JPG);
}

.projects-wrap-background .projects-wrap .project-wrap-4 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/301-2.JPG);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-4 .project-link {
  height: 420px;
}

.projects-wrap-background .projects-wrap .project-wrap-4 a {
  text-decoration: none;
  color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.projects-wrap-background .projects-wrap .project-wrap-4 a:hover {
  color: black;
}

.projects-wrap-background .projects-wrap .project-wrap-4 .project-text {
  letter-spacing: -2px;
  font-size: 22px;
  top: 0;
  text-align: right;
}

.projects-wrap-background .projects-wrap .project-wrap-4:hover {
  background-image: url(../img/301-1.JPG);
}

/*ABOUT*/
.about-wrap {
  background: #e4e4e4;
}

.about-wrap .about-img {
  padding-top: 40px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-wrap .about-text-h1 {
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
}

.about-wrap .about-text-content {
  margin-top: 30px;
  padding: 0 60px;
  padding-bottom: 50px;
}

/*CV*/
.cv {
  padding-top: 150px;
  text-align: center;
  height: 210px;
  background: #e4e4e4;
}

/*FOOTER*/
.footer .footer-icon-wrap {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30%;
}

.footer .footer-icon-wrap .footer-icon img {
  width: 50px;
}

.footer .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contact1, .footer .contact2 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.footer .contact {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  border-top: 1px solid gray;
  padding-top: 9px;
  width: 400px;
  text-align: center;
}

.footer .parvifolia {
  margin: 10px;
  font-size: 13px;
  text-align: center;
}

/*PROJECTS*/
.project-item-background {
  background: #e4e4e4;
}

.project-item-background .project-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px 20px;
  padding-bottom: 50px;
}

.project-item-background .project-item-wrap .project-item-1 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/402-1.jpg);
}

.project-item-background .project-item-wrap .project-item-1 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: right;
}

.project-item-background .project-item-wrap .project-item-2 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-item-background .project-item-wrap .project-item-2 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: right;
}

.project-item-background .project-item-wrap .project-item-3 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-item-background .project-item-wrap .project-item-3 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: left;
}

.project-item-background .project-item-wrap .project-item-4 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/402-3.jpg);
}

.project-item-background .project-item-wrap .project-item-4 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: left;
}

.project-item-background .project-item-wrap .project-item-5 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/402-4.jpg);
}

.project-item-background .project-item-wrap .project-item-5 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: right;
}

.project-item-background .project-item-wrap .project-item-6 {
  position: relative;
  margin-top: 62px;
  width: 560px;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-item-background .project-item-wrap .project-item-6 p {
  padding-top: 100px;
  font-size: 17px;
  text-align: right;
}

.item-text {
  letter-spacing: -2px;
  font-size: 22px;
  -webkit-animation-name: textmove;
          animation-name: textmove;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes textmove {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}

@keyframes textmove {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}

/* 404 */
.page404 .h1-404 {
  font-size: 100px;
  position: relative;
  bottom: 100px;
}

.page404 .text-404 {
  position: relative;
  bottom: 100px;
}

.page404 .text2-404 {
  padding-top: 50px;
  position: relative;
  bottom: 100px;
}
/*# sourceMappingURL=style.css.map */