/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Variables */
$firstcolor : lightgray;
$secondcolor: black;
$background: rgb(228, 228, 228);
$margin-top: 62px;
$width: 560px;
$height: 420px;


/* LOGO */
.logo {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Comfortaa', 'arial';
    
    #gulsen {
        text-decoration: none;
        color: $firstcolor;
        transition: color 1.5s;
    }
    #aktas {
        text-decoration: none;
        color: $secondcolor;
        transition: color 1.5s;
    }

    &:hover {

        #gulsen {
            color: $secondcolor;
        }
        #aktas {
            color: $firstcolor;
        }
    }
}

html {
    font-family: 'Comfortaa','arial';
}

/* NAVBAR */

.container-1 {
    padding: 20px;

    .nav-container { 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .nav-item {
            padding: 5px;
            text-align: center;
            width: 100px;
            border-bottom: 1px solid transparent;
            transition: border-bottom 1s;
            &:hover {
                border-bottom: 1px solid black;
            }
    
            a {
                color:$firstcolor;
                text-decoration: none;
                transition: color 1s;
                &:hover {
                    color: $secondcolor;
                }
            }
        }
    }
}
.nav-item-acvite {
    a {
        color: $secondcolor!important;
    }
    
    border-bottom: 1px solid black!important
}

/* PORTFOLIO */

@mixin wrapdefault ($align) {
    position: relative;
    margin-top: $margin-top;
    width: $width;
    height: $height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    .project-link {
        height: $height;
    }

    a{
        text-decoration: none;
        color: transparent;
        transition: color 1s;
        &:hover {
            color: $secondcolor;
        }
    }

    .project-text {
        letter-spacing: -2px;
        font-size: 22px;
        text-align: $align ;
    }
}
.projects-wrap-background {
    background: $background;
    .projects-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px 20px;
        padding-bottom: 50px;
        
        
        .project-wrap-1 {
            @include wrapdefault(left);
            background-image:url(../img/402-2.JPG);
            transition: all 1s;
            &:hover {
                background-image: url(../img/402-1.jpg);
            }


        }

        .project-wrap-2 {
            @include wrapdefault(right);
            background-image:url(../img/401-2.JPG);
            transition: all 1s;
            &:hover {
                background-image: url(../img/401-1.JPG)
            }
        }
    
        .project-wrap-3 {
            @include wrapdefault(left);
            background-image:url(../img/302-2.JPG);
            transition: all 1s;
            &:hover {
                background-image:url(../img/302-1.JPG);
            }
        }

        .project-wrap-4 {
            @include wrapdefault(right);
            background-image:url(../img/301-2.JPG);
            transition: all 1s;
            &:hover {
                background-image:url(../img/301-1.JPG);
            }
        }
    }

}

/*ABOUT*/

.about-wrap {
    background: $background;

    .about-img  {
        padding-top: 40px;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .about-text-h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 30px;
    }

    .about-text-content {
        margin-top: 30px;
        padding: 0 60px;
        padding-bottom: 50px;
    }
}


/*CV*/

.cv-wrap {
    width: 100%;
    height: 600px;
    .cv-item-wrap{
        display: flex;
        background-position: center;
        background-position-y: 50%;
        background-size: cover;
        width: 100%;
        height: 100px;
        filter: grayscale(100%);
        opacity: 0.6;
        transition: all 1s ease;
        color: none;
        &:hover {
            filter: grayscale(0%);
            opacity: 1;

            img {
                filter: invert(1);
            }
            p{
                color:white;
            }
            .text{
                color: white;
            } 
        }

        img {
            height: 80%;
            padding-left: 10%;
            padding-top: 0.5%;
            filter: invert(0);
            transition: filter 1s ease;
        }
        p {
            padding: 0 3%;
            padding-top: 15px;
            font-size: 30px;
            letter-spacing: -2px;
            transition: color 1s ease;
        }
        .text {
            padding: 1% 5%;
            color: transparent;
            transition: color 1s ease;
        }
    }
    .cv-item-wrap-1 {
        background-image: url(../img/cv/cv1.jpg);
    }
    .cv-item-wrap-2 {
        background-image: url(../img/cv/cv2.jpg);
    }
    .cv-item-wrap-3 {
        background-image: url(../img/cv/cv3.jpg);
    }
    .cv-item-wrap-4 {
        background-image: url(../img/cv/cv4.jpg);
    }
    .cv-item-wrap-5 {
        background-image: url(../img/cv/cv5.jpg);
    }
    .cv-item-wrap-6 {
        background-image: url(../img/cv/cv6.jpg);
    }
}

/*FOOTER*/

.footer {
    .footer-icon-wrap{ 
        margin: 15px 0px;
        display: flex;
        justify-content: space-around;
        padding: 0 30%;
        .footer-icon img {
            width: 50px;
        }
    
    }
    
    
    .contact-wrap {
        display: flex;
    }
    .contact1,.contact2 {
        flex: 5;
    }
    
    .contact { 
        flex: 6;
        border-top: 1px solid gray;
        padding-top: 9px;
        width: 400px;
        text-align: center;
    }
    
    .parvifolia {
        margin:10px;
        font-size: 13px;
        text-align: center;
    }

}

/*PROJECTS*/

@mixin project-item-default ($direction) {
    position: relative;
    margin-top: $margin-top;
    width: $width;
    height: $height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    p {
        padding-top: 100px;
        font-size: 17px;
        text-align: $direction;
    }
}
.project-item-background {
    background: $background;

    .project-item-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px 20px;
        padding-bottom: 50px;
    
            .project-item-1 {
                @include project-item-default(right)
                background-image: url(../img/402-1.jpg);
            }
            .project-item-2 {
                @include project-item-default(right)
            }
            .project-item-3 {
                @include project-item-default(left)
            }
            .project-item-4 {
                @include project-item-default(left)
                background-image: url(../img/402-3.jpg);
            }
            .project-item-5 {
                @include project-item-default(right)
                background-image: url(../img/402-4.jpg);
            }
            .project-item-6 {
                @include project-item-default(right)
    
        }
    }
}


/* 404 */

.page404 {
    .h1-404 {
        font-size:100px;
        position: relative;
        bottom: 100px;
    }
    
    .text-404 {
        position: relative;
        bottom: 100px;
    }
    
    .text2-404 {
        padding-top: 50px;
        position: relative;
        bottom: 100px;
    }
}

/* SLIDER */
.project-item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 20px;
    padding-bottom: 50px;
    .project-item {

        position: relative;
        margin-top: 62px;
        width: 560px;
        height: 420px;
        .project-item-text {
            padding-top: 100px;
            text-align: right;
        }
        #slider {
            input[type=radio] {
                display: none;
            }
            #controls {
                margin: -250px 0 0 0;
                width: 100%;
                height: 50px;
                position: relative;
                label {
                    transition: opacity 0.2s ease-out;
                    display: none;
                    width: 50px;
                    height: 50px;
                    opacity: .7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }

            #bullets {
                margin: 215px 0 0;
                text-align: center;
                label {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius:100%;
                background: #ccc;
                margin: 0 10px;
                }
            }

            #overflow {
                width: 100%;
                overflow: hidden;
                .inner {
                    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
                    width: 400%;
                    height: 420px;
                    .slide {
                        width: 25%;
                        float:left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
                    .slide_1 {
                        background-image: url(../img/302-1.JPG);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .slide_2 {
                        background-image: url(../img/302-2.JPG);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .slide_3 {
                        background-image: url(../img/302-1.JPG);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .slide_4 {
                        background-image: url(../img/302-1.JPG);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            
        }
    }
    
}

/* SLIDE ANIMATION*/

.project-item {
    #slide1:checked ~ #slides .inner {
    margin-left: 0;
    }
    #slide2:checked ~ #slides .inner {
    margin-left: -100%;
    }
    #slide3:checked ~ #slides .inner {
    margin-left: -200%;
    }
    #slide4:checked ~ #slides .inner {
    margin-left: -300%;
    }
    
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    display: block;
    }
    
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(4),
    #slide3:checked ~ #controls label:nth-last-child(3),
    #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    display: block;
    }
    
    #slide1:checked ~ #bullets label:nth-child(1),
    #slide2:checked ~ #bullets label:nth-child(2),
    #slide3:checked ~ #bullets label:nth-child(3),
    #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
    }

}

/* WIDESCREEN */ 

@media screen and (max-width:3000px) {
    .item-text {
        width: 220px;
        letter-spacing: -2px;
        font-size: 22px;
        position: absolute;
        z-index: 1;
        top: 178px;
        left: 70px;    
        animation-name: textmove;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes textmove {
            0%{ transform: translateX(0); }
            100%{ transform: translateX(950px); }
        }
    }

}

/* SMALLSCREEN */

@media screen and (max-width:1024px) {


    .project-item-text {
        text-align: left!important;
    }

    .item-text {
        width: 220px;
        letter-spacing: -2px;
        font-size: 22px;
        position: absolute;
        z-index: 1;
        top: 179px;
        left: 20px;    
        animation-name: textmove2;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes textmove2 {
            0%{ transform: translateY(0%) ; }
            100%{ transform: translateY(2130%) ; }
        }
    }

}





