{% load static%}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="{%static 'portfolio/css/style.css'%}">
        <title>LIVECOMPLEX | Gülşen Aktaş</title>

        
    </head>

    <header>
        <div class="container-header">
            <div class="logo">
                <a id='gulsen' href='#'>GÜLŞEN</a>
                <a id='aktas' href="#">AKTAŞ</a>
            </div>

            <div class="nav-container">
                <div class="nav-item">
                    <a href=" {% url 'about'%} ">HAKKINDA</a>
                </div>


                <div class="nav-item">
                    <a href="{% url 'home'%}">PORTFOLYO</a>
                </div>

                <div class="nav-item">
                    <a href="{% url 'cv' %}">CV</a>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="project-item-background">
            <div class="project-item-wrap">
                <div class="project-item">
                    <div id="slider">
                        <input type="radio" name="slider" id="slide1" checked>
                        <input type="radio" name="slider" id="slide2">
                        <input type="radio" name="slider" id="slide3">
                        <input type="radio" name="slider" id="slide4">
                        <div id="slides">
                            <div id="overflow">
                                <div class="inner">                                  
                                    <div class="slide slide_1"></div>
                                    <div class="slide slide_2"></div>
                                    <div class="slide slide_3"></div>
                                    <div class="slide slide_4"></div>
                                </div>
                            </div>
                        </div>
                        <div id="controls">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                        </div>
                        <div id="bullets">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                        </div>
                    </div>
                </div>

                <div class="project-item">
                    <div class="item-text">M402 | LIVECOMPLEX</div>

                    <div class="project-item-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo commodi deserunt molestias unde explicabo repudiandae magnam laudantium. Possimus provident, alias debitis culpa perferendis eveniet enim ut nostrum inventore dolor eos velit, doloremque rem ipsam neque eius error eum animi aperiam expedita at. Distinctio laboriosam ipsam sint repellat doloremque facilis sed?
                    </div>
                    
                </div>

            </div>
        </div>
    </body>

    <footer>

        <div class="footer">
            <div class="footer-wrap">

                <div class="footer-icon-wrap">
                    <div class="footer-icon">
                        <a href="mailto:aaktasgulsen@gmail.com">
                            <img src="{% static 'portfolio/img/icon/mail.png' %}">                             
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="#">
                            <img src="{% static 'portfolio/img/icon/in.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.facebook.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/f.png' %}">
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.instagram.com/glsnnakts">
                            <img src="{% static 'portfolio/img/icon/ins.png' %}">
                        </a>
                    </div>
                </div>


                <div class="parvifolia-wrap">
                    <div class="parvifolia">
                        designed by parvifolia | 2020 copyright
                    </div>
                    <div class="parvifolia">
                        special thanks for volunteer feedback team;
                    </div>
                    <div class="parvifolia">
                        Gülşen, Mali, Furki, İko
                    </div>
                </div>
                
            </div>
        </div>

    </footer>

</html>
